html {
	
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

#page {
	width: 960px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
/*	border-radius: 5px;*/
	padding: 20px;
	text-align: center;
}

#content {
	margin: 0 auto;
	margin-top: 30px;
	background-color: white;
	width: 640px;
}

#flags {
	float: right;
}

.flags {
	width: 30px;
	margin-right: 6px;
}

#heading {
	font-size: 60px;
	font-weight: 500;
}

#subheading {
	font-size: 20px;
	margin-top: 20px;
	font-weight: 400;
}

section {
	margin-top: 20px;
	text-align: left;
	font-weight: 300;
}

.count {
	font-size: 70px;
	color: #4d63bc;
	font-weight: 300;
	display: inline-block;
	margin-top: 35px;
	margin-right: 20px;
	margin-bottom: 35px;
}

.d3placeholder {
	width: 600px;
}

.stat_heading {
	text-align: left;
	font-size: 25px;
	margin-top: 30px;
	font-weight: 400;
	margin-bottom: 40px;
}

.clone_obj {
	display: inline-block;
}

button {
	cursor: pointer;
	display: block;
	border: 0;
	text-decoration: none;
	background-color: #ececec;
	padding: 10px;
	margin-right: 10px;
}

button:hover {
	background-color: #ccc;
}

.flags:hover {
	cursor: pointer;
	opacity: 0.5;
}

.bus {
	width: 100px;
}