html {
	font-family: sans-serif;
}

body {
	background-color: lightgrey;
}

.clone_obj {
	display: inline-block;
}

button {
	display: block;
}

#page {
	width: 1024px;
	margin: 0 auto;
	background-color: white;
	border-radius: 5px;
	padding: 20px;
}

.bus {
	width: 100px;
}

#count {
	font-size: 100px;
	margin: 0;
	color: #4d63bc;
	font-weight: 300;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}