html {
	
}

body {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

#page {
	width: 960px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
/*	border-radius: 5px;*/
	padding: 20px;
	text-align: center;
}

#content {
	margin: 0 auto;
	margin-top: 30px;
	background-color: white;
	width: 640px;
}

#flags {
	float: right;
}

.flags {
	width: 30px;
	margin-right: 6px;
}

#heading {
	font-size: 60px;
	font-weight: 500;
}

#subheading {
	font-size: 20px;
	margin: 20px 0 40px 0;
	font-weight: 400;
}

section {
	margin-top: 20px;
	text-align: left;
	font-weight: 300;
}

.count {
	font-size: 70px;
	color: #4d63bc;
	font-weight: 300;
	display: inline-block;
	margin-top: 35px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.d3placeholder {
	width: 600px;
}

#data {
	text-align: left;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid black;
	cursor: pointer;
	margin-bottom: 30px;
	float: right;
}

.arrow-up:hover {
	opacity: 0.5
}


.stat_heading {
	font-size: 25px;
	margin-top: 30px;
	font-weight: 400;
	margin-bottom: 20px;
	text-align: left;
}

.cloneObj {
	display: inline-block;
}

button {
	cursor: pointer;
	display: block;
	border: 0;
	text-decoration: none;
	background-color: #ececec;
	padding: 10px;
	margin-right: 10px;
}

button:hover {
	background-color: #ccc;
}

.flags:hover {
	cursor: pointer;
	opacity: 0.5;
}

.bus, .nurse {
	width: 100px;
	display: inline-block;
}

#scroll_top_button {
	position: fixed;
	right:0;
	bottom:0;
}

input {
	background: #fff;
	border: 3px solid #ececec;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}


.logo {
	float: left;
	height: 120px;
	width: 120px;
}

